<ul>
{% for post in postslist | reverse %}
  {% if post.data.published !== false %}
    <li>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% set comma = joiner() %}
      {% for tag in post.data.tags -%}
        {% if tag !== 'posts' %}
          {{ comma() }} <span class="tag">{{ tag }}</span>
        {% endif %}
      {%- endfor %}
    </li>
  {% endif %}
{% endfor %}
</ul>
