<!doctype html>
<html lang="en"
      domain="{{ metadata.domain }}"
>
{% include "layouts/head.njk" %}
<body>
<header>
  {% include "layouts/navigation.njk" %}
  <h1>{{ title }}</h1>
  {% block extraArticleHeader %}{% endblock %}
  <dialog id="message"></dialog>
</header>

<main>
  {{ content | safe }}
</main>
{% include "layouts/footer.njk" %}
</body>
</html>

